.contenedor__skills{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    
}

  


@media screen and (max-width:768px) {
    .contenedor__skills{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        
    }
    
}