.skills{
    display: flex;
    align-items: center;
    border-top-style: solid;
    border-radius: 20px;
    border-top-color: blueviolet;
    
}

.skills:hover {
   
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    background-image:linear-gradient(to left, #fff, #c9c869);
}

