.banner__descripcion{
    display: flex;
    font-family: 'Raleway';
    text-align: left;
    color: #464646;
    margin-bottom: 3rem;
    line-height: 3rem;
    font-size: 2.5rem;
    padding: 0;
}

@media screen and (max-width:768px){
    .banner__descripcion{
        margin-top: 3rem;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: normal;
        
    }
}