.banner{
    display: flex;
    margin: 0rem 5rem 0rem 5rem;  
    box-sizing: border-box;
    max-width: 100%;  
    
}



@media screen and (max-width:768px){
   .banner{
    width: 100%;
    margin: 0.5rem 0rem 0.5rem 1.5rem;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;  
   }
    
}


@media screen and (max-width:360px){
    .banner{
     display: flex;
     margin: 0;
     box-sizing: border-box;
     max-width: 100%;  
    }
     
 }
 


