.banner__derecho{
    display: flex;
   }

   @media screen and (max-width:768px) {
    .banner__derecho{
        display: flex;
        justify-content: right;
       margin-left: 4rem;

        
    }
   }

   @media screen and (max-width:360px) {
    .banner__derecho{
        display: flex;
        width: 50%;
        margin-left: 0;
    }
   }