.sobre__mi--descipcion{
    text-align: left;
    margin-top: 5rem;
    justify-content: left;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
    color: #575454;
}

@media screen and (max-width:768px) {
    .sobre__mi--descipcion{
    
        text-align: left;
        padding-right: 1rem;
        
    }
    
}

@media screen and (max-width:360px) {
    .sobre__mi--descipcion{
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
        text-align: none;
    }
    
}