.container__redes{    
    display: flex;
    justify-content: left;
    text-decoration: none;
    margin: 3rem 5rem 0 5rem;
}

@media screen and (max-width:768px){
    .container__redes{
        margin: 2em 0rem 2rem 0rem;
        justify-content: space-evenly;
        
    }
    
}
@media screen and (max-width:360px){
    .container__redes{
        display: flex;
    }
    
}