.encabezado__izquierdo{
    display: flex;
    margin: 0 0 0 5rem;
    justify-items: center;
    align-items: center;
}
@media screen and (min-width:768px){
  
    .encabezado__izquierdo{
        width: 50%;
    }   
}


@media screen and (max-width:360px){
      .encabezado__izquierdo{
        width: 50%;
        margin: 0;
      }  
}