header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;  
    
}

@media screen and (min-width:768px) and (max-width:1200px){
    header{
        width: 100%;
        margin: 0 0rem 0.5rem 1rem;       
    } 
     
}

@media screen and (max-width:360px){
    header{
        display: flex;
        margin: 0rem 0rem 0.5rem 0rem;

       
    }    
}