.contenedor__hobbies{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    flex-direction: row;
   
}

@media screen and (max-width:768px) {
    .contenedor__hobbies{
        display: flex;
        margin: 0.5rem 0rem 3rem 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px;
    }
    
}
